[Unit]
Description=KMonad configuration for Laptop Keyboard
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/kmonad /home/alunity/scripts/lap-keyboard.kbd

[Install]
WantedBy=default.target
